<div class="text-center my-4">
  <div role="navigation" aria-label="Pagination" class="px-3 py-2 mx-2 text-gray-700 no-underline bg-white rounded-lg">
    <div class="flickr_pagination">
      <div class="my-4">
        <%= page_entries_info collection %>
      </div>
      <%= will_paginate collection %>
    </div>
  </div>
</div>
